@charset "UTF-8";

/*************************************
*
* this css file only writes common css.
*
**************************************
*/

/* header_css */
header {
	width: 750px;
	height: 130px;
	background-color: #00A0E9;
	position: fixed;
	outline: 1px solid red;
}

.application_name {
	float:left;
	position: fixed;
	margin-top:0px;
	outline: 1px solid red;
}

.home_button {
	float:left;
	position: fixed;
	margin-left:600px;
	outline: 1px solid red;
	clear:both;
}
/* header_css_end */
/*-----------------*/
/* footer_css */
footer {
	width: 750px;
	outline: 1px solid red;
	position: absolute;
	top: 1204px;
	background-color: #00A0E9;
	position: fixed;
}

footer ul li a {
	float: left;
	width: 20%;
	text-align: center;
	display: block;
	text-decoration: none;
}

/* footer_css_end */