@charset "UTF-8";

/*************************************
*
* this css file only writes common css
*
**************************************
*/

/* header_css */
header {
	height:150px;
	width:100%;
	background-color: #00A0E9;

}
/* header_css_end */
/*-----------------*/
/* footer_css */
footer {
	width: 100%;
	outline: 1px solid red;
	position: absolute;
	bottom: 0px;
	background-color: #00A0E9;
	position: fixed;
}

footer ul li a {
	float: left;
	width: 20%;
	text-align: center;
	display: block;
	text-decoration: none;
}

/* footer_css_end */