.context-box{
	width:20vh;
	position: absolute;
	padding: 15px 20px;
    background-color: gray;
    border: 1px solid red;
    border-radius: 10px;
	display: none; /* Context menu should be hidden explicitly (for this version) */
    }
    ._close{
	cursor:pointer;
	float:right;
    }