@CHARSET "UTF-8";
/*--modal--*/
div#modalWindow {
	display: none;
	position: fixed;
	background-color: #ffffb7;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
div#modalHeader {
	padding: 5px;
	overflow: hidden;
}
div#modalHeader > a {
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 5px;
	font-weight: bold;
	background-color: #fff;
	color: #0015b2;
	text-decoration: none;
	border-style: solid;
	border-width: 1px; 
	border-color: #0015b2;
	border-radius: 10px/10px;
}
div#modalContent > div#photoInfo {
	margin: 5px; 
	padding: 0;
	border-style: solid;
	border-width: 1px; 
	border-color: #ffffb7;
	border-radius: 10px/10px;
	overflow: hidden;
}
div#modalContent > div#photoInfo > div#photoImage > img {
	display: block;
}
div#modalContent > div#photoInfo > ul {
	padding: 1px;
	background-color: #fff;
	color: #0015b2;
	font-weight: bold;
}
div#modalContent > div#photoInfo > ul > li {
	display: inline-block;
	margin: 5px;
	padding: 10px;
	background-color: #fff;
	border-style: none;
	border-width: 2px; 
	border-color: #0015b2;
	border-radius: 0 10px 10px 10px/0 10px 10px 10px;
}
div#modalContent > div#photoInfo > ul > li > img {
	height: 16px;
}
div#modalContent > div#photoInfo > div#photoComments {
	padding: 10px;
	background-color: #fff;
	border-style: solid none none;
	border-width: 1px; 
	border-color: #0015b2;
	border-radius: 0 0 10px 10px/0 0 10px 10px;
}
div#modalContent > div#photoInfo > div#photoComments > ul > li {
	margin: 10px 0 0;
}
div#modalContent > div#photoInfo > div#photoComments > ul > li > ul > li {
	color: #ccc;
	border-style: none;
	border-color: #0015b2;
	border-width: 2px;
	border-radius: 0 10px 10px 10px/0 10px 10px 10px;
}
