@charset "UTF-8";


#wrapper-main #photo-area{
    width: 100vw;
    height: 87vh;
    margin-top: 16.5%;
    margin-bottom:13%;
    background: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

#wrapper-main #photo-area .photo-view{
    margin-top:1em;
    background: #75A3CB;
    margin-bottom:1em;
}

.trigger_context_menu{
    font-size:1.5em;
    color: white;
}

#wrapper-main #photo-area .photo-view .photo-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 1;
    flex-wrap: nowrap;
}

#wrapper-main #photo-area .photo-view .main-img{
    width: 90vw;
    height: 40vh;
    background: red;
    margin: 0 auto;
}

#wrapper-main #photo-area .photo-view .main-img .preview-img{
    width: 100%;
    height: 100%;
}

#wrapper-main #photo-area .photo-view div#details{
    margin-left:5%;
}

#wrapper-main #photo-area .photo-view div#details div#com-preview{
    width: 90vh;
    height: auto;
}

.com-inner{
    margin: 1em 0;
    font-size:1em;
}

.horizon{
    width: 100vh;
}

#more-button{
    padding: 1em;
}



