@CHARSET "UTF-8";
div#googleMap {
	margin: 10px;
	border-style: solid;
	border-width: 0; 
	border-color: #0015b2;
	border-radius: 10px/10px;
	overflow: hidden;
}
table#stampList {
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 10px;
	
}
table#stampList > tbody > tr > td {
	border-style: none;
	border-width: 1px;
	border-color: #ccc;
	background-image: url('../images/stamp/dummy.png');
	background-size: contain;
	background-repeat: no-repeat;
	overflow: hidden;
}
table#stampList > tbody > tr > td.noStamp {
	background-image: none;
}
table#stampList > tbody > tr > td > img {
	width: 100%;
}
