@CHARSET "UTF-8";

#top_page_wrapper{
	width: 100%;
	outline: 1px solid red;
	position: relative;
}

article img{
	width:100% ;
	margin: 0 auto ;
	text-align: center;
	outline:red 1px solid;
}