@CHARSET "UTF-8";
h1#userName {
	padding: 15px;
	text-align: right;
	font-size: 125%;
	color: #ccc;
}
table#myImg {
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 2px;
	
}
table#myImg > tbody > tr > td > a > img {
	width: 100%;
}
